<div class="mod-planner-import-modal">
    <p class="text-muted mb-3">
        {{#str}} uploadtemplate, mod_planner {{/str}}
    </p>

    <div data-region="import-template-form">
        {{{formhtml}}}
    </div>
</div>